/* #banner {
  background-image: linear-gradient(120deg, #91C4FF 0%, #F0F7FF 87%);
  position: relative;
  width: 100%;
  height: 950px;
}
#cloud-scroll {
  background: url(http://9a2e1a2047765d2a004e-e6d2db425d8d4f2619e5cee56a48bcef.r55.cf2.rackcdn.com/clouds.webp) repeat-x;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  -webkit-animation: 900000s backgroundScroll infinite linear;
  -moz-animation: 900000s backgroundScroll infinite linear;
  -o-animation: 900000s backgroundScroll infinite linear;
  -ms-animation: 900000s backgroundScroll infinite linear;
  animation: 900000s backgroundScroll infinite linear;
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -99999999px 0;
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -99999999px 0;
  }
}

<div id="banner">
  <div id="cloud-scroll"></div>
</div> */

.news-single{
  padding-top: 0%;
  margin: 0% 0%;
  text-align: justify;
}

.news-single a{
  font-weight: 600; 
}

.news-single::after{
  content: "";
  display: inline-block;
  width: 100%;
}

#blog-list h5{
  padding: 5px;
}

#blog-list{
  margin: 0% 20%;
  padding: 0px 0px 25px;
}

 @media (max-width: 450px) {
   #blog-list{
    margin: 5% 5%;
    }
 }

.card{
  margin-top: 20px;
}

.card a {
  background: #7e7ca6;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}


/*--------------------------------------------------------------
# Content Styles
--------------------------------------------------------------*/
.content-style{
  padding: 7% 10% 0%; 
  margin: 0% 6% 0%;
}

@media (max-width: 450px) {
  .content-style{
    padding: 20% 0%; 
    margin: 0% 2%;
  }
}

/*--------------------------------------------------------------
# Phone Button on NavBar
--------------------------------------------------------------*/

.phone-sty{
  font-family: montserrat; 
  border: 2px solid #000;
  padding: 8px 8px 8px 5px;
}

.phone-sty:hover{
  border: 2px solid #7e7ca6;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
  color: #444444;
	align-items: center;
}

a {
  color: #7e7ca6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, table{
  font-family: "Raleway", sans-serif;
}

#signup{
  padding-top: 100px;
  margin: 50px;
}

#signin{
  padding-top: 100px;
  margin: 50px;
}

.container{
  padding-left: 3%;
  padding-right: 3%;
}

.btn:hover{
  background-color: #000000;
  color: #fffaf4;
}

/* table */

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 1rem 0rem 1rem 1rem;
  font-size: 20px;
}

.ts{
  color: #424242;
}

.top{
  border-top: 1px solid rgb(226, 226, 226);
}

@media (max-width: 450px) {
  table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 1rem;
    font-size: 12px;
    font-weight: bold;
  }
}

/* Feature section */

.arrow{
  padding-top: 80px;
}

#features {
  padding: 50px 0px;
  position: relative;
  text-align: center;
}

.feature-box {
  padding: 5% 0% 3%;
}


.feature-boxes {
  padding: 2% 5% 3%;
}

.icon {
  padding-bottom: 20px;
  margin-bottom: 1rem;
  color: #7e7ca6;
}

.icon:hover {
  color: #313141;
}

/* property single */

.prop-desc{
  padding: inherit; 
  margin: 0% 15%;
}

.feature-boxs {
  padding: 0%;
}

.icons {
  margin-bottom: 1rem;
  color: #7e7ca6;
}


@media (max-width: 450px) {
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
  .arrow{
    display: none;
  }
  .feature-box {
    padding: 2% 20%;
  }
  .icon {
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 1rem;
    color: #7e7ca6;
  }
  .prop-desc{
    padding: inherit; 
    margin: 0% 5%;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #7e7ca6;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fffaf4;
  line-height: 0;
}

.back-to-top:hover {
  background: #47465e;
  color: #fffaf4;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #7e7ca6;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 0.5s linear infinite;
  animation: animate-preloader 0.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
  border-color: #fffaf4;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Raleway", sans-serif;
}

#header .logo a {
  color: #7e7ca6;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #1f1f1f;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 4px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #fff;
  background-color: #7e7ca6;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #fff;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #7e7ca6;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.158);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #7e7ca6;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fff;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.158);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #7e7ca6;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# head Section
--------------------------------------------------------------*/
#head-d {
  width: 100%;
  height: calc(100vh - 0px);
  text-align: center;
  position: relative;
  background: url("../img/design-bg.webp") top center;
  background-size: cover;
}

#head-d:before {
  content: "";
  background: rgba(0, 0, 0, 0.747);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#head-c {
  width: 100%;
  height: calc(100vh - 0px);
  text-align: center;
  position: relative;
  background-size: cover;
}

#head-c:before {
  content: "";
  background: rgba(0, 0, 0, 0.158);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 450px) {
  #head-c {
    width: 100%;
    height: calc(100vh - 0px);
    text-align: center;
    position: relative;
    background: url("../img/stock/com-m.webp") top center;
    background-size: cover;
  }
}
#head-c h1{
  color: #fff;
  font-size: 100px;
  padding-bottom: 0px;
}
@media (max-width: 450px) {
  #head-c {
    position: relative;
    background-size: cover;
    padding: 400px 0px 400px;
  }
  #head-c h1{
    font-size: 350%;
    padding-bottom: 0px;
  }
  #head-c h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


#head {
  width: 100%;
  height: calc(100vh - 0px);
  /* height: 1080px; */
  text-align: center;
  position: relative;
  background-color: #000;
  background: url("../img/stock/stands.webp") top center;
  background-size: cover;
}

@media (max-width: 450px) {
  #head {
    width: 100%;
    height: calc(100vh - 0px);
    text-align: center;
    position: relative;
    background: url("../img/stock/stands-m.webp") top center;
    background-size: cover;
  }
}

#head:before {
  content: "";
  background: rgba(17, 17, 17, 0.356);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#head h1 {
  margin: 0;
  font-size: 200px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding: 12% 0% 5%;
}

#head h2 {
  color: #cecece;
  margin: 10px 0 0 0;
  font-size: 30px;
}

#head .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #7e7ca6;
}

#head .btn-get-started:hover {
  background: #fff;
  color: #7e7ca6;
}

#head .icon-boxes {
  margin-top: 100px;
}

#head .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

#head .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#head .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}

#head .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

#head .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}

#head .icon-box:hover {
  transform: scale(1.08);
}

#head .icon-box:hover .title a {
  color: #2487ce;
}

@media (max-width: 450px) {
  #head {
    position: relative;
    background-size: cover;
    padding: 400px 0px 400px;
  }
  #head h1{
    font-size: 75px;
    padding-bottom: 0px;
  }
  #head h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-device-width: 481px) and (max-device-width: 768px){
  #head {
    height: auto;
    padding: 200px 0px 200px;
  }
  #head h1 {
    font-size: 40px;
    line-height: 36px;
  }
  #head h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0px 50px;
  overflow: hidden;
}

.section-title h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 20px 0px 5px;
  color: #1f1f1f;
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #1a1a1a;
}

.tab-content h3{
  padding: 2%;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#community{
  background: url("../img/stock/colorr.webp");
}

#community .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #7e7ca6;
}

#community .btn-get-started:hover {
  background: #000;
}

#services_fass .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #7e7ca6;
}

#services_fass .btn-get-started:hover {
  background: #fff;
  color: #000;
}

#design .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #7e7ca6;
}

#design .btn-get-started:hover {
  background: #000;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #1f1f1f;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #1f1f1f;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #1f1f1f;
}

.about .content .btn-learn-more:hover {
  background: #F2E0C9 ;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Services-page
--------------------------------------------------------------*/
#tabs a:hover{
  color: #000000;
}
#services_fas {
  width: 100%;
  height: calc(100vh - 0px);
  text-align: center;
  position: relative;  
  background: url("../img/stock/com.webp") top center;
  background-size: cover;
  color: #fff;
}

#services_fas:before {
  content: "";
  background: rgba(0, 0, 0, 0.274);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#services_fas h1 {
  font-size: 100px;
  font-weight: 600;
}

@media (max-width: 450px) {
  #services_fas h1 {
  font-size: 50px;
  }
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  text-align: center;
}

.clients h2{
  text-align: center;
}

.clients img {
  max-width: 35%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 0% 1%;
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 30%;
    padding: 3px 10px;
  }
}

@media (max-width: 450px) {
  .clients .container{
    padding: 5px 4px;
  }
  .clients img {
    width: 20%;
    padding: 0px;
  }
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
#carousel{
  background-color: #c0c0c0; 
  padding: 15px 10px 30px;
  color: rgb(49, 49, 49);
}

.car-padding{
  padding: 0% 10% 0% 10%;
  background-color: #fffaf4;
}

@media (max-width: 480px) {
  .car-padding{
    padding: 0% 0% 0% 0%;
  }
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #7e7ca6;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: #c5c2ff91;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #000;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2487ce;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2487ce;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(18, 66, 101, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 30px 10px 40px 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 7%;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  padding-top: 20px;
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #fff;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #1f1f1f;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: rgba(157, 201, 255, 0.671);
}

.services .iconbox-blue i {
  color: #7e7ca6;
}

.services .iconbox-blue:hover .icon i {
  color: #fff9f1;
}

.services .iconbox-blue:hover .icon path {
  fill: #7e7ca6;
}

.services .iconbox-orange i {
  color: #7e7ca6;
}

.services .iconbox-orange:hover .icon i {
  color: #fff9f1;
}

.services .iconbox-orange:hover .icon path {
  fill: #7e7ca6;
}

.services .iconbox-pink i {
  color: #7e7ca6;
}

.services .iconbox-pink:hover .icon i {
  color: #fff9f1;
}

.services .iconbox-pink:hover .icon path {
  fill: #7e7ca6;
}

.services .iconbox-yellow i {
  color: #7e7ca6;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff9f1;
}

.services .iconbox-yellow:hover .icon path {
  fill: #7e7ca6;
}

.services .iconbox-red i {
  color: #7e7ca6;
}

.services .iconbox-red:hover .icon i {
  color: #fff9f1;
}

.services .iconbox-red:hover .icon path {
  fill: #7e7ca6;
}

.services .iconbox-teal i {
  color: #7e7ca6;
}

.services .iconbox-teal:hover .icon i {
  color: #fff9f1;
}

.services .iconbox-teal:hover .icon path {
  fill: #7e7ca6;
}


#services .serve{
  padding-left: 7%;
}

@media (max-width: 450px) {
  #services .serve{
    padding-left: 14%;
  }
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.bg-color{
  background-color: #fff;
  color: #343a40;
}

bg-color p{
  color: #000000;
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #f7f7f7;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 20px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #202020;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a {
  color: #000;
}
.faq .faq-list a.collapsed:hover {
  color: #7e7ca6;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact{
  background-color: rgb(247, 247, 247);
}

.contact .info {
  width: 100%;
  background: rgb(247, 247, 247);
}

.contact .info i {
  font-size: 20px;
  color: #7e7ca6;
  float: left;
  width: 44px;
  height: 44px;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.contact h3{
  font-size: 20px;
  padding-bottom: 15px;
}

.contact .info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.contact .info p {
  margin-bottom: 0;
  font-size: 14px;
  color: rgb(36, 36, 36);
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #7e7ca6;
  color: rgb(247, 247, 247);
}

.contact .php-email-form {
  width: 100%;
  background: #f7f7f7;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f7f7f7;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #504c4b;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}


.contact .php-email-form button[type="submit"] {
  background: #7e7ca6;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #4c4b64;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  #contact h3{
    padding: 0% 20%;
    margin: 0px;
  } 
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #A66F3F;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #0c0c0c;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(182, 182, 182);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1f1f1f;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #fffaf4;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #1f1f1f;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #1f1f1f;
}

.copyright{
  color: #000000;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #7e7ca6;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #4c4b64;
  color: #fff;
  text-decoration: none;
}

/* Style Two */

.head-section{
  padding: 100px 0px 0px;
}

/*------/ List a /------*/
.list-a {
  text-decoration: none;
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
}

.list-a li {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 25px;
  padding-right: 5px;
}


@media (max-width: 450px) {
  #footer .footer-top{
    padding-left: 15px;
  }
  #footer .footer-top .footer-links ul li {
    padding: 7px 0px;
  }
}
@media (min-width: 992px) {
  .list-a li {
    width: 33.333%;
  }
}

.list-a li:before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #313131;
  top: 15px;
  left: 0;
}

/*--------------------------------------------------------------
# Card General
--------------------------------------------------------------*/

#prop-name h2{
  font-size: 25px;
}

.invisible{
  display: contents;
}

.invisible-desk{
  display: none;
}

@media (max-width: 450px) {
  .invisible{
    display: none;
  }
  #prop-name h2{
    font-size: 20px;
  }
  .invisible-desk{
    display: contents;
  }
}



@media (max-width: 767px) {
  .card-box-a,
  .card-box-b,
  .card-box-c,
  .card-box-d {
    margin-bottom: 2.5rem;
  }
}

.card-box-a span,
.card-box-b span,
.card-box-c span,
.card-box-d span {
  line-height: 0;
}

@media (min-width: 768px) {
  .grid .card-box-a,
  .grid .card-box-b,
  .grid .card-box-c,
  .grid .card-box-d {
    margin-bottom: 2.5rem;
  }
}

.card-box-a,
.card-box-b,
.card-box-d {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-box-a .img-a,
.card-box-a .img-b,
.card-box-b .img-a,
.card-box-b .img-b {
  transition: .8s all ease-in-out;
}

.card-box-ico {
  padding: 1rem 3rem 1rem 2.5rem;
}

@media (min-width: 768px) {
  .card-box-a:hover .img-a,
  .card-box-a:hover .img-b,
  .card-box-b:hover .img-a,
  .card-box-b:hover .img-b {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {
  .card-box-a .price-a,
  .card-box-b .price-a {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .card-box-a .price-a,
  .card-box-b .price-a {
    font-size: 1rem;
  }
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-shadow {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-shadow:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

/*===
//--//-->   PROPERTY - CARD-A
===*/
@media (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 60px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-box-a:hover .card-overlay-a-content {
    bottom: 64px;
  }
}

@media (min-width: 768px) {
  .card-box-a:hover .card-body-a {
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .card-box-a .card-overlay-a-content {
    bottom: 65px;
  }
  .card-box-a .card-body-a {
    padding-bottom: 1rem;
  }
}

.card-overlay-a-content {
  transition: all .5s ease-in;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
}

@media (min-width: 768px) {
  .card-overlay-a-content {
    bottom: -20px;
  }
}

@media (min-width: 992px) {
  .card-overlay-a-content {
    bottom: 0px;
  }
}

.card-header-a {
  padding: 0 1rem;
}

.card-header-a .card-title-a {
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: .7rem;
}

@media (min-width: 768px) {
  .card-header-a .card-title-a {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .card-header-a .card-title-a {
    font-size: 2rem;
  }
}

.card-header-a .card-title-a a {
  color: #ffffff;
  text-decoration: none;
}

.card-body-a {
  z-index: 2;
  transition: all .5s ease-in;
  padding: 0rem 1rem 2rem 1rem;
}

.card-body-a .price-box {
  padding-bottom: .5rem;
}

.price-a {
  color: #ffffff;
  padding: .6rem .8rem;
  border: 2px solid #A66F3F;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.030em;
}

.card-footer-a {
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #7e7ca6;
}

.card-info {
  list-style: none;
  margin-bottom: 0;
  padding: .5rem 0;
}

.card-info .card-info-title {
  font-size: 1rem;
  color: #313131;
}

@media (min-width: 768px) {
  .card-info .card-info-title {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .card-info .card-info-title {
    color: #fff;
    font-size: 1rem;
  }
}

.card-info li span {
  color: #fff;
  font-size: .9rem;
}

@media (min-width: 768px) {
  .card-info li span {
    font-size: .8rem;
  }
}

@media (min-width: 992px) {
  .card-info li span {
    font-size: 1rem;
  }
}

/*------/ Property Grid /-----*/
.property-grid .grid-option {
  text-align: right;
  margin-bottom: 2rem;
}

.property-grid .grid-option .custom-select {
  border-radius: 0;
  width: 200px;
  border-color: #313131;
}

.property-grid .grid-option .custom-select:hover, .property-grid .grid-option .custom-select:active, .property-grid .grid-option .custom-select:focus {
  border-color: #313131;
}

.property-grid .grid-option .custom-select option {
  border-color: #313131;
}

/*------/ Property Single /-----*/
.gallery-property {
  margin-bottom: 3rem;
}

.property-price {
  margin: 0 auto;
}

.property-price .card-header-c {
  padding: 0;
}

.summary-list {
  padding-right: 1rem;
  color: #000000;
}

.summary-list .list {
  padding: 0;
  line-height: 2;
}

.summary-list .list span {
  color: #555555;
}

@media (max-width: 767px) {
  .property-agent {
    margin-top: 2.5rem;
  }
}

.property-agent .title-agent {
  font-weight: 600;
}

.property-agent ul {
  line-height: 2;
  color: #000000;
}

.property-agent .socials-a {
  text-align: center;
}

@media (max-width: 991px) {
  .property-contact {
    margin-top: 2.5rem;
  }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #124265;
  margin: 0 10px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #2487ce;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #124265;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}



/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
#about-video{
  text-align: center; padding: 40px 0px 80px; 
  background-color: #19171a;
}

#about-video h1{
  padding-bottom: 30px; 
  color: #fff;
}

.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #5e5c7c;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
}

.about-video .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about-video .content ul i {
  font-size: 24px;
  color: #7e7ca6;
  position: absolute;
  left: 0;
  top: -2px;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

.about-video .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#7e7ca6 50%, #4e4c6e44 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about-video .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about-video .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid #4e4c6e44;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about-video .play-btn:hover::after {
  border-left: 15px solid #7e7ca6;
  transform: scale(20);
}

.about-video .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}